In [1]:
import pandas as pd
import numpy as np
# months
Months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
Locations = ['Gurugram', 'Mumbai', 'Ahmedabad', 'Coimbatore', 'Chennai', 'Guwahati', 'Amritsar']
Energy_sources = ['Grid Only', 'Grid + Rooftop Solar', 'Fully Renewable']
# for consistent result, fixing randoms
np.random.seed(42)
data = {
    'Months' : Months,
    'Electricity Used (kWh)' : np.random.randint(3000, 10001, size=12),
    'Diesel Used (L)' : np.random.randint(100, 801, size=12),
    'LPG (kg)' : np.random.randint(30, 201, size=12),
    'Commute Distance (km)' : np.random.randint(3000, 15001, size=12),
    'Waste Generated (kg)' : np.random.randint(200, 1001, size=12),
    'Employee Count' : np.random.randint(20, 51, size=12),
    'Revenue (Rs. Crore)' : np.round(np.random.uniform(1, 10, size=12), 2),
    'Location' : np.random.choice(Locations, size=12),
    'Energy Source' : np.random.choice(Energy_sources, size=12)
}
df = pd.DataFrame(data)

In [2]:
# emission factors....
emission_factors = {
    'Electricity Used (kWh)' : 0.82,
    'Diesel Used (L)' : 2.68,
    'LPG (kg)' : 3.1,
    'Commute Distance (km)' : 0.24,
    'Waste Generated (kg)' : 0.55
}
# emission calculation....
for col, factor in emission_factors.items():
    df[f'{col} Emissions'] = df[col] * factor 
# total emission per month....
emission_cols = [col for col in df.columns if 'Emissions' in col and 'Total' not in col]
df['Total Emissions (kg CO2e)'] = df[emission_cols].sum(axis=1)

# per employee and revenue emissions
df['Emissions per Employee'] = df['Total Emissions (kg CO2e)'] / df['Employee Count']
df['Emissions per Rs. Crore Revenue'] = df['Total Emissions (kg CO2e)'] / df['Revenue (Rs. Crore)']

In [4]:
# AI recommendation....rule based
def ai_recommend(row):
    tips = []
    if row['Electricity Used (kWh)'] > 8000:
        tips.append('Install rooftop solar')
    if row['Diesel Used (L)'] > 500:
        tips.append('Transition fleet to EV')
    if row['Commute Distance (km)'] > 12000:
        tips.append('Promote hybrid/remote work')
    if row['Waste Generated (kg)'] > 800:
        tips.append('Improve waste segregation program')
    if row['Energy Source'] == 'Grid Only':
        tips.append('Adopt renewable energy procurement')
    return ','.join(tips) if tips else 'Emissions within sustainable threshold'

df['AI Recommendation'] = df.apply(ai_recommend, axis=1)

In [5]:
# export final dataset to excel
df.to_excel("Carbon_footprint.xlsx", index=False)

In [6]:
df.head()

,Months,Electricity Used (kWh),Diesel Used (L),LPG (kg),Commute Distance (km),Waste Generated (kg),Employee Count,Revenue (Rs. Crore),Location,Energy Source,Electricity Used (kWh) Emissions,Diesel Used (L) Emissions,LPG (kg) Emissions,Commute Distance (km) Emissions,Waste Generated (kg) Emissions,Total Emissions (kg CO2e),Emissions per Employee,Emissions per Rs. Crore Revenue,AI Recommendation
0,Jan,3860,187,50,4267,441,33,2.66,Mumbai,Grid Only,3165.20,501.16,155.0,1024.08,242.55,5087.99,154.181515,1912.778195,Adopt renewable energy procurement
1,Feb,8390,472,190,4528,976,36,9.73,Amritsar,Grid Only,6879.80,1264.96,589.0,1086.72,536.80,10357.28,287.702222,1064.468654,"Install rooftop solar,Improve waste segregatio..."
2,Mar,8226,199,87,14394,545,23,7.98,Chennai,Grid Only,6745.32,533.32,269.7,3454.56,299.75,11302.65,491.419565,1416.372180,"Install rooftop solar,Promote hybrid/remote wo..."
3,Apr,8191,763,51,6556,764,37,9.46,Mumbai,Fully Renewable,6716.62,2044.84,158.1,1573.44,420.20,10913.20,294.951351,1153.615222,"Install rooftop solar,Transition fleet to EV"
4,May,6772,230,118,6890,539,27,9.05,Gurugram,Grid Only,5553.04,616.40,365.8,1653.60,296.45,8485.29,314.270000,937.601105,Adopt renewable energy procurement